<div align="center">
  <table>
    <tr>
      <td><%= button_to 'ИВ-821', iv_821_items_path, method: :get, class: "btn btn-large btn-primary"%></td>
      <td><%= button_to 'ИВ-822', iv_822_items_path, method: :get, class: "btn btn-large btn-primary"%></td>
      <td><%= button_to 'ИВ-823', iv_823_items_path, method: :get, class: "btn btn-large btn-primary"%></td>
    </tr>
  </table>
</div>
